.main-nav-toggle{
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: rgba(0,197,231,1);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav-toggle img{
  width: 20px;
  height: 20px;
}

#main-nav{
  width: 60px;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background: rgb(0,197,231);
  background: linear-gradient(0deg, rgba(5,222,159,1) 0%, rgba(0,197,231,1) 35%);
}

#main-nav ul{
  list-style: none;
}

.nav-item{
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover, .active{
  background-color: rgba(0, 140, 165, 0.247);
}

.nav-icon {
  width: 20px;
  max-height: 20px;
}