<button 
  class="main-nav-toggle"
  (click)="toggle()"
  >
  <img src="assets/images/icon-menu.png"/>
</button>
<nav id="main-nav" [hidden]="!show">
  <ul class="pt-3">
    <li>
      <a class="nav-item" routerLink="/" title="Home">
        <img class="nav-icon" src="assets/images/icon-home.png"/>
      </a>
    </li>
    <li>
      <a class="nav-item" routerLink="/vehicles" title="Veículos">
        <img class="nav-icon" src="assets/images/icon-vehicle.png"/>
      </a>
    </li>
  </ul>
</nav>